
@media only screen and (max-width: 1400px) and (min-width: 1030px)
{
    
.travel-mega-menu .center {
    float: none;
	border-right-width: 0;
	border-left-width: 1px;
}
.travel-mega-menu .center > div {
	-o-transform-origin-x: 100%;
	-ms-transform-origin-x: 100%;
	-moz-transform-origin-x: 100%;
	-webkit-transform-origin-x: 100%;
}
.travel-mega-menu .center:hover > div {
	right: auto;
	left: -226px;
}
.travel-mega-menu .center:hover > div:before {
	right: 50%;
	left: auto;
	display:none;
}  
}

@media only screen and (max-width: 1400px) and (min-width: 1200px)
{
.box-top-upimg {
    position: absolute;
    margin: 40px auto;
    width: 25%;
    padding: 20px;
    z-index: 98;
}
.box-line-border{margin: 0 20px 0 30px;}
.text-center p.best-subtitle{margin-bottom:20px;}
}

@media only screen and (max-width: 1400px) 
{

.top-txt-title span.welcome{display:none;}

.trip-slide-text {
    font-size: 50px;
    padding: 20px 0 40px 0;
    line-height:50px;
}
.trip-slide-price {
    top: 11%;
    font-size: 24px;
    line-height: 34px;
}
.all-info-trip.pannel-radius .trip-slide-price
{
    height:140%;
    padding:50px;
}
    
.effects .cbp-vm-view-list .cbp-vm-image {width: 47.6%;}
.main-switcher .cbp-vm-view-list figcaption {width: 52%;}
.slide-travel-img{ padding: 10px 15px;margin-top: 10px;}
.slide-travel-img img.star-level {margin: 0 auto 10px auto;}
.slide-travel-img p{margin-bottom:0; font-size:11px;}
.all-info-trip .trip-slide-price{line-height: 26px;font-size: 14px;}

.all-info-trip .btn-primary{margin-top:10px;}
.all-info-trip .trip-slide-price .trip-option ul {margin-top: 10px;}
}

@media only screen and (max-width: 1200px) 
{
.four-col.col-md-3 {width: 23.5%;}
.content-man{display:none;}
.content-man.mandesc{display:block;}
.box-top-upimg {
    position: relative;
    margin: 0 auto 40px auto;
    width: 100%;
    padding: 20px;
}
}

@media only screen and (max-width: 1030px) 
{
.caption .largewhitebg_button1{padding:7px 20px; font-size:13px}
.caption .largewhitebg_button1:hover{padding:7px 20px; font-size:13px}

#mobile-menu-01 .logo{float: left; width: 30%;}

#mobile-menu-01 .logo img{float: left; width: 125px;}

#mobile-menu-01 .line-logo{padding: 0 30px 5px 30px;}

.box-line-border{display:none;}
.top-box-desc-img h2{font-size:20px;}
.top-box-desc-img .box-text-img{width:70%;}

.travel-desc-agency img:hover + .top-box-desc-img .box-text-img, .top-box-desc-img:hover .box-text-img{
    width:70%;
}

.top-txt-title span.welcome{display:none;}

.header-lang a{ padding: 0px 5px 0px 15px;} 
.langs-drop{left: -92px;}

.caption.black-b1.letter{font-size:60px;}

.top-mega-menu {
	position: relative;
	margin-top: 0;
}
.travel-mega-menu-mobile li.line-logo:hover a{background: #fff;}
.top-content {margin-top: 0;}
.top-mega-menu .container {display:none;}

#mobile-menu-01 {display:block;}
.travel-mega-menu-mobile {display:none;}
.all-info-trip .trip-slide-price .trip-option{display:none}

.travel-desc-agency.tt-ipad{width:100%}

/*Hero Slider*/

.cd-hero-slider .cd-img-container img{width:80%}
.cd-hero-slider .cd-full-width, .cd-hero-slider .cd-half-width{
    padding-top: 70px;
}
/*End*/

.why-choose-us-wrapper p{width:90%;}

.home-page {margin-top: 0;}
#mobile-menu-01 li.line-logo {
	background: #fff;
	display: block;
	float: none;
}
#mobile-menu-01 li.k-opn {display:table;}
/*Form*/
.container-reservation.inside-slider {top: 160px;}

#reservation-form .reservation-hotel .step-where, #reservation-form .step-check, #reservation-form .step-who {
	width: 100%;
	padding: 0;
}
#reservation-form .step-check .cc-out, #reservation-form .step-who .child {padding-right: 0;}
#reservation-form .col-sm-2 button {margin-top: 20px;}
#reservation-form.pos-inside-slide .reservation-hotel, #reservation-form.pos-inside-slide .reservation-flight {
	padding: 10px 30px 10px 30px;
}
#reservation-form h3 {font-size: 13px;}
#reservation-form label {font-size: 11px;}
#reservation-form .search-opt {margin-bottom: 0;}
#reservation-form .flight-where, #reservation-form .fly-check{
    width: 50%;
    padding-right:0;
}
#reservation-form .fly-who {
	float: none;
	width: 100%;
	padding: 0;
}
/*Midle slider*/
.trip-slide-price {
	top: 5%;
    padding: 20px 20px;
    font-size: 16px;
    line-height: 24px;
}
.trip-slide-text {font-size: 40px;margin:0;padding:0;}
.all-info-trip .trip-slide-price span{font-size: 20px;}
.all-info-trip .btn-primary {margin-top: 5px;}

.all-info-trip.pannel-radius .trip-slide-price {
    height: 140%;
    width: 40%;
    top: -60px;
    padding: 20px 30px;
}

.newsletterfooter input[type="text"] {width: 165px;}
.popover-icon {display: none;}
/*Top offert*/
.view{margin: 0px 10px 0 0;}
.home4-section .view-fifth .mask {padding: 20px 10px 20px 10px;}
.view-fifth .mask .main .price{padding: 3px 0;}



.fullwidthbanner-container .fullwidthbanner {margin-top: 0;}
.col-md-4.prices {margin-bottom: 20px;}
#reservation-form.home2 .colbtn {margin-top: 61px;}
#reservation-form.home2 .reservation-flight .colbtn {margin-top: 31px;}
.grid li {
    width: 33%;
    float: left;
}
/*Oxy Slider*/

.four-col.col-md-3 {width: 24%;}

/*About 1*/

.number-structure-left {
  margin: 0 15px 20px 0;
  width: 48%;
  float: left;
}
.desc-office1.about1{ margin-top: 20px;}

/*services1*/
.service-square.col-md-3 {width: 23.5%;}
.view-service img{width:20%;}
/*Servies2*/

.service2-row img {
    width: 53%;
}

/*Page List trip*/
.main-switcher figcaption h3{float:none;}
.cbp-vm-options a.cbp-vm-icon {
    display: none;
}
.cbp-vm-options{height: 64px;}

/*Page details*/
.main-details #bx-pager a img{
    margin-bottom:3px;
}

/*list fly*/
.view-about {
	width: 23.8%;
}

/*Gallery 4 column*/
#gallery .col-md-3 {
    width: 32%;
}

/*Gallery 3 column*/
#gallery .col-md-4 {
    width: 32%;
}

/*Blog*/
.blog-img-title-slider{position:relative;width: 100%;}

.footer-small-desc a{width:100%;float:left;}

/*Contact*/
#top-info-contact .contact-square.col-md-4 {
    width: 32%;
}
#map_container{margin-top:0;}

}


@media only screen and (max-width: 1000px) 
{
#mobile-menu-01 .line-logo {padding: 0 20px 5px 20px;} 

.text-center.top-txt-title.best-promo {
    margin-top: 80px;
}

.why-choose-us .box-middle-img{display:none;}


.trip-slide-text .line-price.clear{display:block;}

.travel-desc-agency.threepos{margin-bottom: 60px;}

.trip-travego-disc{padding:0 0px;float:left;}

.home4-section .view-fifth .mask {
    padding: 20px 30px 20px 30px;
}
#lastminute-offerts.home4-section .view{margin-top:30px;}

#lastminute-offerts .first-lastm{margin-bottom:0;}
.all-info-trip.pannel-radius .trip-slide-price {
    height: 155%;
    width: 50%;
    left: 25%;
    right: 25%;
}

.reservation-home4 .adult-book{padding-left:0;}
.reservation-home4 .cc-in{padding-right:0;}
.reservation-home4 .box-fly-book, .reservation-home4 .adultfly{padding-right:0;}
.reservation-home4 #reservation-form #flights-tab .child.md-ch{padding-right:0;}

#flights-tab .flight-when,#flights-tab .flight-who,#flights-tab .flight-who .adultfly{padding-right:0;}

/*Form Booking*/
.container-reservation.inside-slider {top: 140px;}
#top-offerts .col-md-4, #lastminute-offerts .col-md-4 {
	width: 100%;
	padding: 0 30px;
	margin-bottom:20px;
	float:left;
}
.caption.small-txt, .caption .largewhitebg_button1{display:none;}

/*Slide midle*/
.services-parallax{background-position: center center;}
.trip-slide-text {padding: 10px 0;}
.trip-slide-text.prague{font-size:30px;}
.trip-slide-price {padding: 10px 20px;}
.all-info-trip .trip-slide-price p{display:none;}
.all-info-trip .btn-primary {
    margin-top: 15px;
    float: left;
}
.trip-slide-text{line-height: 38px;}

.parallax-home4 .middle-text-adv{padding: 0 30px; margin-bottom: 50px;}
.parallax-home4 .middle-text-adv h3{margin-top: 0px;}

.all-info-trip.pannel-radius .trip-slide-price .trip-big-price{display:block;margin-top: 50px;}
.all-info-trip.pannel-radius .trip-slide-price .trip-big-price span{font-size:70px;}
.all-info-trip.pannel-radius .btn-primary { margin-top: 25px;}

#top-offerts.box-tr-square .col-md-4, #lastminute-offerts.box-tr-square .col-md-4{width:100%;}

.parallax-home .middle-text-adv{padding: 0 30px; margin-bottom:20px;}

.all-info-trip.long-pannel .trip-slide-price .trip-big-price {
    margin-top: 60px;
    display: block;
}

.box-content-txt-left{
    position:relative;
    margin: 0px auto 40px auto;
    width:100%;
}

/*Slide Hero*/
.cd-slider-nav a {
    font-size: 1.1rem;
    text-transform: uppercase;
}

/*End*/

#parallax-footer.price-color-log.home-map{padding:120px 0;}

#reservation-form .reservation-flight .child.md-ch{padding-right:15px;}

/*Home 2*/
.tp-simpleresponsive >ul li {width: 80%;}
.caption.blue-b4 {
	width: 100%;
	padding: 10px 25px 10px 25px;
}
.caption.blue-b4.banner-blue {margin-top: -30px;	}
.caption.blue-b4{
    left:0 !important;
    margin-top: -20px;
    width:80%;
}
.caption.blue-b4{font-size:30px;}

.grid li {width: 50%;}

#reservation-form .home2 .flight-where, #reservation-form .home2 .flight-when{
    width: 100%;
    padding:0 15px;
}

.tab-content .res-pad {padding-right: 0;}
#reservation-form .adul-h,#reservation-form .child{padding:0;}
#reservation-form .home2 .adultfly{padding:0;}

.container-reservation.inside-slider .room-book,.container-reservation.inside-slider .adult-book{padding-right:0;}

/*Top Offert*/

.four-col.col-md-3 {
    width: 48%;
    margin-bottom: 20px;
}


/*About 1*/
.desc-office .img-office {
    float: none;
    margin-bottom: 20px;
}
.view-about {width: 48%;}
.view-about .social-icons{display:none;}
.desc-office1.about1{position:relative;}
.img-office{padding:0;}
.about-text-center {
    text-align: center;
    width: 100%;
}
.view {margin: 20px 10px 0 0;}
.desc-office1.about1 {bottom: 0px;}
.view-fifth .mask .main h3{font-size:14px;}

/*About 2*/
.about-square.col-md-6 {width: 100%;margin-bottom: 20px;}
.bx-about2.noowlf{width:100%;}
.desc-office{margin: 10px 0 0px 0px;}

/*services*/
.service-square.col-md-3 {width: 100%;}
.services2-info.last-info {
    padding-right: 0;
    padding-left: 0;
}
.services2-info {
    padding-left: 0;
    padding-right:0;
    float: left;
    width: 100%;
}
.mask-service2{
    margin-top: 0px;
    width: 100%;
    margin-left: 0px;
}

/*Gallery 4 Column*/
dl {
    margin-bottom: 0px;
    padding-bottom: 40px;
    position: relative;
}
#gallery .col-md-3 {width: 31.5%;}
.gallery-stars img{padding: 10px 0;}
.gallery-img-title h3{font-size:14px;}
.gallery-img-title h3{float:none;margin-bottom: 0;}
.gallery-img-title{ text-align:left;}

/*Gallery 3 Column*/
#gallery .col-md-4 {width: 31.5%;}

/*Guide*/
#horizontalTab{width:100%;}
.guide-story-info{
    padding-left:0;
    margin-top:20px;
}
.histo-img {
    padding-left: 0;
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.number-structure-left {
  margin: 0 10px 20px 0;
  width: 47.6%;
}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {background-color: transparent;}
.culture-img {
    float: left;
    padding-left: 0;
}

/*Blog*/
.blog-img-title{margin:10px 0 0 0;}

/*Contact*/
#top-info-contact .contact-square.col-md-4 {
    width: 31%;
    float: left;
}
.fc-content2 {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
}
.fc-content {padding-right: 0;}

/*Footer*/
.button-banner a{margin:0;}
.logo-footer {width: 6%;}
.footer-small-desc {
    padding: 0;
    float: left;
    margin: 10px 10px;
}
#footer .box-tags{width:100%;float:left;}
.footer-small-desc .r-more{float:left;}
#footer h3{margin-top:20px;}
}

@media only screen and (max-width: 740px) 
{
.all-info-trip.long-pannel .trip-slide-price .trip-big-price {display: none;}
    
#loading-center-absolute{left: 39%;}

#reservation-form .step-check .cc-in {padding: 0;}
#reservation-form .step-who .room-book, #reservation-form .step-who .adult-book, #reservation-form .step-who .child {
	padding: 0
}
#dtlBtn{display:none;}

#reservation-form .flight-where, #reservation-form .fly-check {
	width: 100%;
	padding:0;
}
#reservation-form .fly-who .adultfly, #reservation-form .fly-who .child {
	padding: 0;
}
/*Middle Slide*/
.trip-slide-text {
    padding: 15px 0;
    font-size: 50px;
}
/*reservation*/
.tab-content .hotel-when, .tab-content .hotel-who {padding: 0;}
.tab-content .res-pad {padding: 0;}
#reservation-form.home3 .flight-where, #reservation-form.home3 .fly-check {
    width: 100%;
    padding-left:0px;
}
#reservation-form .flight-where, #reservation-form .flight-when,#reservation-form .flight-who {
	padding: 0;
}
#reservation-form .flight-who .adultfly {padding-right: 0;}

/*Home2*/
.caption.blue-b4.banner-blue, .caption.blue-b4.banner-green, .caption.blue-b4.banner-red {
	display:none;
}
#reservation-form .home2-hotel-where{padding:0;}
#reservation-form .colbtn{padding:0;}
#reservation-form .home2 .flight-where, #reservation-form .home2 .flight-when {
    width: 100%;
    padding: 0;
}

/*About 2*/
.desc-office{padding: 15px 15px;float:none;}
.title-heading-left{white-space:normal;}

/*Services*/
.view-service img {width: 30%;}

/*Contact*/

#top-info-contact .contact-square.col-md-4{width:100%;margin-bottom:20px;}

}

@media only screen and (max-width: 740px) and (orientation: landscape)
{
#mobile-menu-01 .logo {width: 40%;}
.info-parallax{height: 300px;}
.about-color-parallax {height: 100%;}
.view-about {width: 48%;}
.all-info-trip .trip-slide-price{padding:30px 30px;}
.trip-slide-price{display:none;}
}

@media only screen and (max-width: 700px) 
{
#top-offerts .col-md-4,#lastminute-offerts .col-md-4 {
	width: 100%;
	padding: 0 0px;
}
.container-slider {height: auto;}
.tp-bullets.simplebullets {display:none;}
.tp-leftarrow.large {
	  background: url(../assets/arrow_small_left.png) no-repeat top left;
      width: 31px;
      height: 30px;
}
.tp-rightarrow.large {
	  background: url(../assets/arrow_small_right.png) no-Repeat top left;
      width: 31px;
      height: 30px;
}
.all-info-trip.pannel-radius .trip-slide-price{display:none;}
.top-txt-title span{font-size:60px;}
.box-info-help{width:100%}

.bx-about2.oxy-tmp .trip-slide-price{display:none;}
}

@media only screen and (max-width: 600px) and (orientation: landscape)
{
.cbp-contentslider h3 span {margin-left: 70px;}
.cbp-contentslider h3 span.country-name1 {margin-left: 70px;}
.grid li {width: 50%;}
.container-reservation.inside-slider {top: 90px;}

/*Middle Slide*/
.trip-slide-text {
    padding: 10px 0;
    font-size: 40px;
}
.all-info-trip .trip-slide-text {
    padding: 10px 0;
    font-size: 30px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

/*about*/
.view-about {width: 47%;}
.desc-office .img-office {
   float: none;
   margin-right: 0px; 
}
.desc-office .img-office img {width: 100%;}
.desc-office h3 {margin-top: 20px;}

/*Gallery 4 Column*/

#gallery .col-md-3 {width: 31.3%;}

/*Gallery 3 Column*/
#gallery .col-md-4 {width: 31.3%;}

/*Contact*/
#top-offerts .contact-square.col-md-4 {
    width: 31.2%;
    float: left;
}
}

@media only screen and (max-width: 500px) 
{
ul.search-opt li a {padding: 0 20px;}
.payment-card{width:100%; margin-top:5px; text-align:left;}

#mobile-menu-01 .logo img {width: 125px;}
.logo h2 {font-size: 25px;}
#mobile-menu-01 .logo {width: 60%;}
.text-center p{width: 100%;}

/*Top Offert*/
.four-col.col-md-3 {width: 100%;}
.top-txt-title span{display:none;}

/*Middle Slide*/
.trip-slide-text,.trip-slide-price{display:none;}
.bx-about2 .bx-wrapper .bx-controls-direction .bx-prev, .bx-about2 .bx-wrapper .bx-controls-direction .bx-next{margin-top:-37px;}
.bx-wrapper .bx-viewport {height: 200px!important;}
.grid li {width: 100%;}

/*about*/
.desc-office .img-office {margin-right: 0}
.desc-office h3 {
	margin-top: 20px;
	float: left;
    width: 100%;
}
.view-fifth.view-about img {
	width: 100%;
	margin: 0 auto;
}
.number-structure-left, .view-about {width: 100%;}

/*about 2*/
.about-color-parallax h3 {
	font-size: 45px;
}
/*Services*/
.view-service img {
    width: 100%;
}
.mask-service{
    padding:10px;
}
.service2-row img {
    width: 100%;
    margin-bottom: 20px;
}
#parallax_slide .bx-wrapper img {
    width: 100%;
    height: 200px;
}

/*Page List trip*/
.txt-sort{margin-left:10px;}
.click-nav ul li span, .click-nav-location ul li span{font-size:11px;}
.click-nav ul .clicker, .click-nav-location ul .clicker{padding: 5px 26px;}

/*list fly*/
.effects .cbp-vm-view-list .list-fly .cbp-vm-image {width: 100%;}
.main-switcher .cbp-vm-view-list ul.sandbox.list-fly figcaption {width: 100%;}

/*Gallery 4 column*/
#gallery .col-md-3 {width: 100%;}
.filter li{ padding: 5px 5px 7px 5px; font-size:11px;}

/*Gallery 3 column*/
#gallery .col-md-4 {width: 100%;}

/*Details*/
.table-details-room {
    width: 100%;
    margin: 40px 0px;
}

/*Blog*/
.blog-view img{height:200px;}
.blog-info li{margin-bottom: 5px;}

/*Contact*/
#top-offerts .contact-square.col-md-4 {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.last-minute-banner h1{font-size:26px;}
.footer-small-desc{width:50%;}
.copyright {
    font-size: 11px;
    width: 100%;
}
.logo-footer {width: 10%;}
}

@media only screen and (max-width: 400px) 
{
ul.search-opt li a {
	padding: 0 8px;
	font-size: 11px;
}
.why-choose-us .why-choose-us-wrapper img {display:none;}
.trip-slide-price {padding: 10px 20px;}
.title-about {font-size: 16px;}

/*Services*/
#parallax_slide .bx-wrapper img {
    width: 100%;
    height: 150px;
}
.bx-wrapper .bx-viewport {height: 150px!important;}

/*Gallery 4 column*/
.filter li{ margin-bottom:5px;}

/*Blog*/
.pagination>li.first, .pagination>li.prev {margin-right: 5px;}
.pagination>li.first>a, .pagination>li.prev>a, .pagination>li.next>a, .pagination>li.last>a {
    padding: 0 10px;
}
}

@media only screen and (max-width: 330px) 
{
#mobile-menu-01 .logo {width: 70%;}    
#loading-center-absolute {left: 34%;}
.parallax-home4 .middle-text-adv h3{font-size:26px;}
.number-structure-left {width: 100%;}
.title-about {
	margin-top: 10px;
	font-size: 14px;
	margin-left: 0px;
}
.about-section-top .breadcrumbs li {font-size: 11px;}
.parallax-home .middle-text-adv h3{font-size:30px;margin-top:50px;}

/*about 2*/
.about-color-parallax h3 {font-size: 35px;}
.cbp-content-price{font-size:50px;}

/*Page list trip*/
.txt-sort {display:none;}
/*Blog*/
.pagination>li.first>a, .pagination>li.prev>a, .pagination>li.next>a, .pagination>li.last>a
{padding: 0 10px;}
.pagination>li>a{padding: 0 7px;}
.pagination>li{margin-right:3px;}
.pagination>li.first, .pagination>li.prev {
    margin-right: 5px;
}
}