{% extends 'base.html.twig' %}

{% block title %}About Me | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Nicole Green is a full time DoTerra International Wellness Advocate and business owner of A Green Oil Life. She is all about finding balance in your life and focused on mental and a physical healthy lifestyle as well as green living.</p>
            <p>As a former project coordinator for Response Team 1 renovation company, Nicole is a expert at organizing and managing projects including accounts receivable.</p>
            <p>Nicole is also a certified cosmetologist from Euphoria Institute. As a former bartender of six years at local bars in Las Vegas making her accessible with the ability to communicate with business associates and customers.</p>
            <p>Nicole lives in Las Vegas, NV with her husband, Joey Green, their new baby girl, Orissa Green, and their playful border collie Ike. Nicole enjoys hiking, camping, and relaxing in nature, preferably with a glass of wine. She is extremely business oriented and will help you reach your full potential.​</p>
        </div>
    </div>
{% endblock %}