<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="row">
            {% for item in testimonials %}
                <div class="col-sm-{{ testimonials.length/12 | round(0, 'floor') }}">
                    <img src="{{ asset(item.image) }}" class="img-fluid rounded-circle" />
                    <div class="caption">
                        <p>{{ item.content }}</p>
                        <h5 class="pull-right">{{ item.title }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>