{% extends 'user.html.twig' %}

{% block title %}Password Update{{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">Password Update</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                {{ form_start(form) }}
    <div class="panel-heading">
        <input type="submit" value="Edit" class="btn btn-success pull-right" />
        Update Password
    </div>
    <div class="panel-body">
        {{ form_widget(form) }}
    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}