{% extends 'unsecured.html.twig' %}

{% block title %}Reset Password{{ parent() }}{% endblock %}

{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title" align="center">{{ site_name }} - Reset Password</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="{{ path('resetting_send_email') }}" method="POST">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="Username" name="_username" type="text" autofocus value="{{ last_username is defined ? last_username }}" required="required">
                </div>
                <button type="submit" class="btn btn-lg btn-success btn-block">Reset</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
